@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .Flex-y {
    @apply flex justify-center flex-col;
  }
  .Flex-x {
    @apply flex justify-center items-center;
  }
  .categori {
    @apply flex gap-1 border border-solid border-gray-400 px-3  py-1 rounded-full text-gray-400 ; 
  }
  .advertising{
    @apply  flex justify-between  border-solid border-2 border-gray-200 p-4 rounded h-[168px] 
  }
  .content{
    @apply flex flex-col justify-between
  }
  .details{
    @apply flex flex-col text-sm gap-2 text-gray-400
  }
  .nav-footer{
    @apply w-1/5 h-12 text-xs flex items-center flex-col justify-evenly
  }
  .main-advertising{
    @apply  min-[720px]:grid grid-cols-2  gap-x-4 gap-y-4 md:grid grid-cols-2  xl:grid-cols-3 h-fit w-full
  }
  .filter-field{
    @apply h-[57px] flex items-center gap-2 border-solid border-b-2 border-gray-100
  }
  .Border{
    @apply  border-solid  border-gray-100
  }
 
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

